<%= simple_form_for(@professor) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :register_number %>
    <%= f.input :status , validate: true , maxlength:10%>
    <%= f.input :formation %>
  </div>
  <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
  <div class="fileUpload btn btn-primary">
     <span>Upload</span>
 <%= f.attachment_field :image %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
