<p id="notice"><%= notice %></p>

<h1>Listing courses</h1>




    <% @courses.each do |course| %>
      <div class="course" id="<%= course.id %>">
      <h3 class="course-title"><%= link_to "#{course.name}" , "#" %></h3>
        <div class="course-description"><%= course.description %></div>
        <div class="course-person" ></div>
      </div>



        <%= link_to  edit_course_path(course) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>

        <%= link_to  course, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove"></span>
      <% end %>



    <% end %>


<br>

<%= link_to 'New course', new_course_path %>
